

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#weatherResult {
    margin-top: 20px;
}

/* Alert Notification Styling */
#alert {
    margin-top: 50px;
    padding: 35px;
    background-color: #ffcc00;  /* Yellow for visibility */
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #ff9900;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Background image classes based on weather conditions */
.thunderstorm {
    background-image: url('/static/forecast/thunderstorm.jpg');
}

.rain {
    background-image: url('/static/forecast/rain.jpg');
}

.clear {
    background-image: url('/static/forecast/clear.jpg');
}

.clouds {
    background-image: url('/static/forecast/clouds.jpg');
}

.snow {
    background-image: url('/static/forecast/snow.jpg');
}

.drizzle {
    background-image: url('/static/forecast/drizzle.jpg');
}

.mist {
    background-image: url('/static/forecast/mist.jpg');
}

.smoke {
    background-image: url('/static/forecast/smoke.jpg');
}

.haze {
    background-image: url('/static/forecast/haze.jpg');
}
.overcast {
    background-image: url('/static/forecast/overcast.jpg');
}

.scattered {
    background-image: url('/static/forecast/scattered.jpg');

}


.default {
    background-image: url('/static/forecast/default.jpg');
}
